:root {
  --theme-bg: #1C2833;
  --theme-fg: #AAB7B8;
  --theme-nav-bg: #2E4053;
  --theme-accent: #496684;
  --theme-highlight: #F4F6F6;
}

body {
  background: var(--theme-bg);
  color: var(--theme-fg);
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

h1, h2, h3 {
  font-weight: 800;
}

table {
  border-collapse: collapse;
  th {
    background: var(--theme-nav-bg);
  }
  tr {
    border-bottom: 1px solid var(--theme-nav-bg);
  }
  tr:nth-child(even) {
    background: rgba(255,255,255,0.025);
  }
  th, td {
    vertical-align: top;
    padding: 0.25rem 0.5rem;
  }
}

nav {
  a {
    color: var(--theme-fg);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

nav#toc {
  flex: 1 auto;
  /* having both of these is a hack, but I'm not sure what else to do */
  min-width: 16rem;
  width: 16rem;
  overflow-y: auto;
  background: var(--theme-nav-bg);
  padding: 1rem;
  border-right: 1px solid var(--theme-accent);
  ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
    ul li {
      padding-left: 1rem;
    }
  }
  li {
    margin: 0.5rem 0;
    padding: 0;
  }
  & > ul > li {
    margin: 0 0 1rem 0;
    & > a {
      font-weight: 800;
    }
  }
}

#content {
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main {
  margin: 0 auto;
  max-width: 55rem;
  width: stretch;
  padding: 1rem;
  flex: 1 100%;
  a {
    color: var(--theme-highlight);
  }
  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

pre {
  background: rgba(0, 0, 0, 0.125);
  overflow-x: auto;
  padding: 0.5rem;
  & > code {
    background: none;
  }
}

.nav-outer {
  border-top: 1px solid var(--theme-accent);
  flex: 1 auto;
  background: var(--theme-nav-bg);
}

nav#sitenav {
  margin: 0 auto;
  max-width: 55rem;
  display: flex;
  flex-direction: row;
  & > * {
    flex: 1 100%;
    max-width: 28rem;
    padding: 1rem;
  }
}

.nav-prev::before, .nav-next::before {
  font-weight: 800;
  text-transform: lowercase;
  font-variant: small-caps;
  display: block;
}
.nav-prev {
  text-align: left;
}
.nav-prev::before {
  content: "Previous";
}
.nav-next {
  text-align: right;
}
.nav-next::before {
  content: "Next";
}

code {
  background: rgba(0, 0, 0, 0.125);
  white-space: pre-wrap;
}

$if(highlighting-css)$
/* CSS for syntax highlighting */
$highlighting-css$
$endif$
