---
name: Build

on:
  push:
    branches-ignore:
      - master
    tags-ignore:
      - "*"
  pull_request: {}

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: dorny/paths-filter@v3
        name: check for changes
        id: changes
        with:
          filters: |
            src:
              - 'cmd/**'
              - 'internal/**'
              - 'go.*'

      - if: steps.changes.outputs.src == 'true'
        name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - if: steps.changes.outputs.src == 'true'
        name: Run tests
        run: make tests

      - if: steps.changes.outputs.src == 'true'
        name: Build
        run: make build
