---
name: Publish documentation

on:
  workflow_dispatch: {}
  push:
    tags:
      - "v*"
    paths:
      - mkdocs.yml
      - "docs/**"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          # to allow us to push to the repo later
          persist-credentials: true

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
          cache: pip

      - name: Install mkdocs, theme, and plugins
        run: pip install -r requirements.txt

      - name: Deploy site
        run: mkdocs gh-deploy --force
