---
name: Lint

on:
  push:
    paths:
      - "cmd/**"
      - "internal/**"
      - "go.*"
  pull_request:
    paths:
      - "cmd/**"
      - "internal/**"
      - "go.*"


permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.58
        args: --issues-exit-code=0
        only-new-issues: true
